<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.web.repository">
	<!-- DTO & Map Instance Declaration -->
	<!-- Board Type -->
	<resultMap id="boardMap" type="boardDto">
		<result column="article_no" property="articleNo" jdbcType="INTEGER" javaType="int"/>
		<result column="user_id" property="userId" jdbcType="VARCHAR" javaType="String"/>
		<result column="subject" property="subject" jdbcType="VARCHAR" javaType="String"/>
		<result column="content" property="content" jdbcType="VARCHAR" javaType="String"/>
		<result column="hit" property="hit" jdbcType="INTEGER" javaType="int"/>
		<result column="register_time" property="registerTime" jdbcType="TIMESTAMP" javaType="String"/>
	</resultMap>
	<!-- Member Type -->
	<resultMap id="memberMap" type="memberDto">
		<result column="user_id" property="userId" jdbcType="VARCHAR" javaType="String"/>
		<result column="user_name" property="userName" jdbcType="VARCHAR" javaType="String"/>
		<result column="user_password" property="userPwd" jdbcType="VARCHAR" javaType="String"/>
		<result column="email_id" property="emailId" jdbcType="VARCHAR" javaType="String"/>
		<result column="email_domain" property="emailDomain" jdbcType="VARCHAR" javaType="String"/>
		<result column="join_date" property="joinDate" jdbcType="TIMESTAMP" javaType="String"/>
	</resultMap>
	
	<!-- Board DML Section -->
	<select id="selectBoardList" parameterType = "java.util.Map" resultMap="boardMap">
	<!-- <select id="selectBoardList" parameterType="java.util.Map" resultMap="boardResultMap"> -->
	  <!-- select article_no, user_id, subject, content, hit, register_time -->
	  select * from board
	  <where>
	    <if test="key != null and word != null">
	      <choose>
	        <when test="key == 'subject'">
	          subject like concat('%', #{word}, '%')
	        </when>
	        <otherwise>
	          ${key} = #{word}
	        </otherwise>
	      </choose>
	    </if>
	  </where>
	  <!-- int type을 넘겨줘야 하므로 map은 Map<String, Integer> 타입 -->
	  order by article_no desc limit #{start}, #{listsize}
	</select>
	<select id="selectBoardCount" resultType="int" parameterType="java.util.Map">
	  select count(article_no)
	  from board
	  <where>
	    <if test="key != null and word != null">
	      <if test="key == 'subject'">
	        and subject like concat('%', #{word}, '%')
	      </if>
	      <if test="key != 'subject'">
	        and ${key} = #{word}
	      </if>
	    </if>
	  </where>
	</select>
	<select id="selectBoardOne" parameterType="int" resultMap="boardMap">
		select * from board where article_no = #{articleNo}
	</select>
	<select id="selectRowId" resultType="int">
		select max(article_no) from board;
	</select>
	<insert id="boardInsert" parameterType="boardDto">
		insert into board (user_id, subject, content, hit)
		values(#{userId},#{subject},#{content},#{hit})
	</insert>
	<update id = "boardUpdate" parameterType="boardDto">
		<!-- update board set article_no = #{article_no}, user_id = #{user_id}, subject = #{subject}, content = #{content}, hit = #{hit}, register_time = #{register_time} -->
		update board set subject = #{subject}, content = #{content} where article_no = #{articleNo}
	</update>
	<update id = "updateHit" parameterType="int">
		<!-- update board set article_no = #{article_no}, user_id = #{user_id}, subject = #{subject}, content = #{content}, hit = #{hit}, register_time = #{register_time} -->
		update board set hit = hit + 1 where article_no = #{article_no}
	</update>
	<delete id = "boardDelete" parameterType="java.util.List">
		delete from board
		where article_no in
		<foreach item="item" index = "index" collection = "list"
			open = "(" separator = "," close = ")">
			#{item}
		</foreach>
	</delete>
	
	<!-- Member DML Section -->
	<select id="selectMemberList" resultMap="memberMap">
		select user_id, user_name, user_password, email_id, email_domain, join_date from members 
	</select>
	<select id="selectMemberOne" parameterType="string" resultMap="memberMap">
		select * from members where user_id = #{user_id}
	</select>
	<select id="loginMember" parameterType="string" resultMap="memberMap">
		select * from members where user_id = #{userId} and user_password = #{user_password}
	</select>
	<select id="selectMemberCount" resultType = "int">
		select count(*) from members;
	</select>
	<insert id="memberInsert" parameterType="memberDto">
		insert into members (user_id, user_name, user_password, email_id, email_domain)
		<!-- values(#{userId},#{title},#{content}) -->
		values(#{userId}, #{userName}, #{userPwd}, #{emailId}, #{emailDomain})
	</insert>
	<update id = "memberUpdate" parameterType="java.util.Map">
		<!-- update board set no = #{no}, userid = #{userid}, title = #{title}, content = #{content} -->
		update members set user_password = #{userPwd} where user_id = #{userId} 
	</update>
	<delete id = "memberDelete" parameterType="string">
		delete from members where user_id = userId
	</delete>
</mapper>